<html>

  <head>
    <link rel="stylesheet" type="text/css" href="/main.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

  <script src="https://cdn.auth0.com/js/lock/10.9.1/lock.min.js"></script>


  </head>

  <body>
<%= console.log(currentUser); %>
    <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Book Trading</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <% if(!currentUser){ %>
          <li><a href="/books">All Books</a></li>
          <li><a href="/login">Log In or Register</a></li>
        <%  } else { %>
          <% if(currentUser.peopleWantingToTrade.length > 0){  %>
            <li><a href=""><%= currentUser.username %></a></li>
            <li><a href='/tradeRequest'>Trades: <span class='new badge'><%= currentUser.peopleWantingToTrade.length %></span></a></li>
          <% } else {  %>
          <li><a href="/#a"><%= currentUser.username %></a></li>
            <%  }  %>
                <li><a href="/user/<%= currentUser._id %>">My Books</a></li>
          <li><a href="/books">All Books</a></li>
          <li><a href="/logout">log Out</a></li>
        <%  } %>

      </ul>
    </div>
  </nav>
