<% include partials/header %>

<% console.log(currentUser); %>

<% if(currentUser){  %>
  <div class="container">
    <div class="row center-align">
      <div class="col l6">
        <a class="waves-effect waves-light btn blue" href="#a">Trade Requests: <%= currentUser.peopleWantingToTrade.length %></a>
      </div>
      <div class="col l6">
        <a class="waves-effect waves-light btn green" href="#a">Pending Trades: <%= currentUser.userTrade.length %></a>
      </div>
    </div>
  </div>
<%  }  %>


<div class="container ">
  <div class="row ">

    <% books.forEach(function(book){ %>
      <div class="col s3 center-align">

      <h3><%= book.bookName %></h3>
      <img src=<%= book.picture %> >

      <% if(currentUser && book.ownedBy.toString() !== currentUser._id){ %>
        <!-- Modal Trigger -->
        <a class="waves-effect waves-light btn" href="/books/<%= book._id %>">Request A Trade</a>



        <%  }  %>
          </div>
        <%  })  %>

      </div>
    </div>





    <% include partials/footer %>
