<% include partials/header %>

<% if(currentUser){  %>
  <div class="container">
    <div class="row center-align">
      <div class="col s6">
        <a class="waves-effect waves-light btn blue" href="/tradeRequest">Trade Requests: <%= currentUser.peopleWantingToTrade.length %></a>
      </div>
      <div class="col s6">
        <a class="waves-effect waves-light btn green" href="/user-trades">Pending Trades: <%= currentUser.userTrade.length %></a>
      </div>
    </div>
  </div>
<%  }  %>

<div class="container">
  <h2 class='center-align'>Book Collection</h2>
  <div class='row'>
    <% books.forEach(function(book){ %>
      <div class="col  l4 m6 s12 center-align books-container">
      <h5 class='limit'><%= book.bookName %></h5>
      <img src=<%= book.picture %> class='book-image'>
      <% if(currentUser && book.ownedBy.toString() !== currentUser._id.toString()){ %>
        <div>
          <a class="waves-effect waves-light btn" href="/books/<%= book._id %>">Request A Trade</a>
        </div>
        <%  }  %>
          </div>
        <%  })  %>
      </div>
    </div>





    <% include partials/footer %>
