<% include partials/header.ejs %>


<div class="container center-align">
  <div class="row">
    <div class="col l12">
      <form class="" action="/user/<%= foundUser._id %>" method="post">
        <input type="text" name="newBook" value="">
        <button type="submit" class='waves-effect waves-light btn'>Add A New Book</button>
      </form>
    </div>
  </div>
  <div class="">
    <h2>All My Books:</h2>
    <% if(foundUser.booksOwned.length === 0){ %>
      <h3>You currently have no books added<h3>
     <% } else {  %>
       <table class='highlight'>
          <thead>
            <tr>
              <th>Image</th>
              <th>Name</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
          <% foundUser.booksOwned.forEach(function(book){ %>
            <tr class='blackText'>
              <td><img src=<%= book.picture %>></td>
              <td><%= book.bookName %></td>
              <td><%= book.description.slice(0, 80) + '...' %></td>
              <td>
                <a href='/user/<%= foundUser._id %>/<%= book._id %>' class='btn-floating btn-large waves-effect waves-light red'>X</a>
              </td>
            </tr>
          <%  });  %>
        <%  }  %>
          </tbody>

       </table>

  </div>
</div>

<% include partials/footer %>
